# Exercícios

## 1) Considerando o código abaixo, faça:
    -> Crie um df a partir de data cujo index seja labels. Faça os imports necessários
    -> Preencha os valores faltantes com a média dos valores
    -> Retorne uma lista dos animais únicos
    -> Compute as estatísticas básicas (contagem, soma, média, desvio padrão e variância)

In [122]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [176]:
# resposta 1- A
df = DataFrame(data, index = labels)
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [125]:
#resposta 1- B
df["age"] = df["age"].fillna(df["age"].mean())
print(df)

  animal     age  visits priority
a    cat  2.5000       1      yes
b    cat  3.0000       3      yes
c  snake  0.5000       2       no
d    dog  3.4375       3      yes
e    dog  5.0000       2       no
f    cat  2.0000       3       no
g  snake  4.5000       1       no
h    cat  3.4375       1      yes
i    dog  7.0000       2       no
j    dog  3.0000       1       no

In [126]:
print(df["animal"].unique())

['cat' 'snake' 'dog']

In [127]:
print(df.count())
print(df.var())
print(df.std())
print(df.sum())
print(df.mean())

animal      10
age         10
visits      10
priority    10
dtype: int64
age       3.135417
visits    0.766667
dtype: float64
age       1.770711
visits    0.875595
dtype: float64
animal      catcatsnakedogdogcatsnakecatdogdog
age                                     34.375
visits                                      19
priority              yesyesnoyesnononoyesnono
dtype: object
age       3.4375
visits    1.9000
dtype: float64

## 2) Considerando o mesmo código, faça:
    -> Crie uma função que multiplique o número de visitas por 2. Retorne o data frame completo com valores atualizados
    -> Crie uma função que insere uma coluna que contenha um ranking dos animais mais visitados. Retorne o dataframe ordenado de forma descendente
    -> Verifique se os animais da seguinte lista pertencem aos dados originais: New_animals = [‘cow’,’horse’,shark’]

In [137]:
# resposta 2- A
def multiply_visits_by2(df):
    result = df.copy()
    result["visits"] = result["visits"] * 2
    return result

print(multiply_visits_by2(df))

  animal     age  visits priority
a    cat  2.5000       2      yes
b    cat  3.0000       6      yes
c  snake  0.5000       4       no
d    dog  3.4375       6      yes
e    dog  5.0000       4       no
f    cat  2.0000       6       no
g  snake  4.5000       2       no
h    cat  3.4375       2      yes
i    dog  7.0000       4       no
j    dog  3.0000       2       no

In [155]:
# resposta 2- B
def insert_rank_and_order(df):
    result = df.copy()
    result["rank"] = df["visits"].rank(method="min", ascending=0)
    return result.sort_values(by="rank")

print(insert_rank_and_order(df))

  animal     age  visits priority  rank
b    cat  3.0000       3      yes   1.0
d    dog  3.4375       3      yes   1.0
f    cat  2.0000       3       no   1.0
c  snake  0.5000       2       no   4.0
e    dog  5.0000       2       no   4.0
i    dog  7.0000       2       no   4.0
a    cat  2.5000       1      yes   7.0
g  snake  4.5000       1       no   7.0
h    cat  3.4375       1      yes   7.0
j    dog  3.0000       1       no   7.0

In [187]:
# resposta 2- C
New_animals = Series(['cow','horse','shark'])
New_animals.isin(df["animal"])

0    False
1    False
2    False
dtype: bool

## 3) Crie uma função que filtre as linhas do df no código abaixo de acordo com a palavra-chave passada como parâmetro (apenas estado):

In [157]:
df = pd.DataFrame({'DateofBirth':['1986-11-11','1999-05-12','1976-01-01',
                                  '1986-06-01','1983-06-04','1990-03-07',
                                  '1999-07-09'],
                   'State':['NY','TX','FL','AL','AK','TX','TX']},
                 index=['Jane','Nick','Aaron','Penelope','Dean',
                        'Christina','Cornelia'])
print(df)

          DateofBirth State
Jane       1986-11-11    NY
Nick       1999-05-12    TX
Aaron      1976-01-01    FL
Penelope   1986-06-01    AL
Dean       1983-06-04    AK
Christina  1990-03-07    TX
Cornelia   1999-07-09    TX

In [172]:
def filter_by_state(state):
    return df[df["State"] == state]
    
filter_by_state("FL")

      DateofBirth State
Aaron  1976-01-01    FL